
{% if property.options and property.options|length > 0 %}
<div class="field is-horizontal {% if property.required %} required {% endif %}">
	<div class="field-label is-normal">
		<label for="{{ property.name }}" class="label">{{ property.description }}</label>
	</div>
	<div class="field-body">
		<div class="field is-narrow">
			<div class="control">
				<div class="select is-fullwidth">
					<select id="{{ property.name }}" name="{{ property.name }}[]">
						<option value="" selected="selected">Select to add a {{ property.name }}</option>

						{% 	for option in property.options %}
						<option value="{{ option.id }}">{{ option.title }}</option>
						{% endfor %}

					</select>
				</div>
			</div>
		</div>
	</div>
</div>
{% 	endif %}

<div class="field is-horizontal">
	<div class="field-label">
		{% if not property.options and property.options|length == 0 %}
		<label for="{{ property.name }}" class="label">{{ property.description }}</label>
		{% 	endif %}
	</div>
	<div class="field-body">
		<ul>
			{% for bean in bean[property.name] %}
			<li>
				<div class="field">
					<div class="control">
						<label class="checkbox">
							<input type="checkbox" name="{{ property.name }}[]" value="{{ bean.id }}" checked="checked">
							<a href="{{ path_for('getbean', { 'beantype': property.name, 'id': bean.id }) }}">{{ bean.title }}</a>
						</label>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>